{% extends "private_base.html" %}

{% block content %}
  <h2>Benvenuto/a {{ user.first_name }} {{ user.last_name }}!</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4><i class="fa fa-cubes"></i> Progetti a cui puoi partecipare</h4>
      <div class="subsection">
      {% for project in projects %}
  <h4>{{ project.title }}</h4>
  <div class="list-description">{{ project.description|safe }}</div>
{% endfor %}
{% for project in projects %}
  <div class="list-description">{{ project.description|safe }}</div>
{% endfor %}
        {% if not projects %}
          <p>Non ci sono progetti a cui puoi partecipare al momento.</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <h4><i class="fa fa-folder-open"></i> Progetti a cui partecipi</h4>
      <div class="subsection">
      {% for project in your_projects %}
  <h4>{{ project.title }}</h4>
  <div class="list-description">{{ project.description|safe }}</div>
{% endfor %}
        {% if not your_projects %}
          <p>Non ci sono progetti a cui sei iscritto.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
