{% extends "public_base.html" %}

{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}"
  role="form" class="form-signin">
  {% csrf_token %}
  <h2>Portale utenti</h2>
  {% if form.errors %}
    <div class="alert alert-danger">
      Username o password errati. Riprovare
    </div>
  {% endif %}
  <input class="form-control" name="username" placeholder="Email"
   type="email" required autofocus>
  <input class="form-control" name="password" placeholder="Password"
    type="password" required>
  <div class="checkbox">
    <label><input type="checkbox" value="remember-me"> Ricordami</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Entra</button>
  <a class="btn btn-lg btn-primary btn-block" href="{% url 'signup' %}">
    Registrati
  </a>
  <input type="hidden" name="next" value="{% url 'index' %}">
</form>

{% endblock %}
