{% extends 'private_base.html' %}

{% block content %}

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<form action="{% url 'change_password' %}" method="POST">
  {% csrf_token %}
  <table>
    <tr>
      <td>Vecchia password</td>
      <td><input type="password" name="old_password"></td>
    </tr>
    <tr>
      <td>Nuova password</td>
      <td><input type="password" name="new_password1"></td>
    </tr>
    <tr>
      <td>Conferma nuova password</td>
      <td><input type="password" name="new_password2"></td>
    </tr>
  </table>
  <input type="submit" value="Cambia password">
</form>
{% endblock %}
