{% extends 'private_base.html' %}

{% block content %}
  <h2>Impostazioni</h1>
  <hr>
  {% if form.errors %}
  <p>{{ form.errors }}</p>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <h4><i class="fa fa-key"></i> Cambia password</h2>
      <div class="subsection">
        <form action="{% url 'password_change' %}" method="POST">
          {% csrf_token %}
          Inserisci la vecchia password
          <input class="form-control" type="password" name="old_password">
          Inserisci la nuova password
          <input class="form-control" type="password" name="new_password1">
          Conferma la nuova password
          <input class="form-control" type="password" name="new_password2">
          <button class="btn btn-primary btn-block" type="submit">
            Cambia password
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
