body {
  background-color: #41A952;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pugliasos-header {
  background: url("pugliasos-header.jpg") center no-repeat;
  height: 200px;
}

.form-signup {
  max-width: 530px;
}
.form-signin {
  max-width: 330px;
}
.form-signup,
.form-signin {
  padding: 15px;
  margin: 0 auto;
  color: white;
}
.form-signin h2,
.form-signup h2 {
  text-align: center;
}
.form-signup button {
  margin-top: 30px;
}
