{% load staticfiles %}
<div class="nav-side-menu">
  <div class="pugliasos-header-img">
    <a href="http://pugliasos.it">
      <img src="{% static 'images/pugliasos-header-little.png' %}">
    </a>
  </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
      data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li data-toggle="collapse" data-target="#user"
          class="collapsed">
          <a href="#">
            <i class="fa fa-user fa-lg"></i>
            &nbsp;{{ user.first_name }} {{ user.last_name }}
            <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="user">
          <li><a href="{% url 'settings' %}">Impostazioni</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <li>
          <a href="{% url 'index' %}">
            <i class="fa fa-dashboard fa-lg"></i>&nbsp;&nbsp;Dashboard
          </a>
        </li>
        <li data-toggle="collapse" data-target="#projects"
          class="collapsed">
          <a href="#">
            <i class="fa fa-cubes fa-lg"></i>
            &nbsp;&nbsp;Progetti
            <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="projects">
          <li><a href="{% url 'event_list' %}">Lista progetti</a></li>
          <li><a href="{% url 'event_list_joined' %}">I tuoi progetti</a></li>
        </ul>
        <li data-toggle="collapse" data-target="#association"
          class="collapsed">
          <a href="#">
            <i class="fa fa-cubes fa-lg"></i>
            &nbsp;&nbsp;Associazione
            <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="association">
          <li><a href="{% url 'all_registered' %}">Utenti</a></li>
        </ul>        
      </ul>

   </div>
</div>
